<a href="https://colab.research.google.com/github/thineikhaing/BigDataSparkPG/blob/main/SparkSQLPlayGround.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Installation**
The first step involves installing pyspark. The next step is to install findspark library.

In [5]:
# install pyspark using pip
!pip install --ignore-install -q pyspark
# install findspark using pip
!pip install --ignore-install -q findspark

## Mounting Google Drive

You can use the drive module from google.colab to mount your entire Google Drive to Colab by executing the below code. This will provide us with an authentication link to connect to Google Drive. Choose the Google account whose Drive you want to mount. Allow Google Drive Stream access to your Google Account.

In [14]:
# to read in data from a text file, first upload the data file into your google drive and then mount your google drive onto colab
from google.colab import drive
# to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True)
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Run the sample spark df

In [20]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.master("local").appName("Customer").getOrCreate()

inputFilePath = "/content/drive/My Drive/BEAD_DATA/customers.csv"
countryFilePath = "/content/drive/My Drive/BEAD_DATA/Country.json"

df = ( spark.read
      .option("header", "true")
      .option("inferSchema", "true")
      .csv(inputFilePath) )

df1 = ( spark.read
      .option("header", "true")
      .option("inferSchema", "true")
      .json(countryFilePath) )

df.printSchema()
df.count()
df.show()
df1.show()

(df.select("CustomerId", "Fullname")
  .where("Age > 30 AND MemberCategory ='Gold' ")
  .orderBy("Fullname")
  .show(10,False))

root
 |-- CustomerId: integer (nullable = true)
 |-- Fullname: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- MemberCategory: string (nullable = true)
 |-- AmountSpend: double (nullable = true)
 |-- Company: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone Number: string (nullable = true)

+----------+------------------+---+------+--------------+-----------+--------------------+--------------------+------------------+--------------------+--------------------+
|CustomerId|          Fullname|Age|Gender|MemberCategory|AmountSpend|             Company|               Email|              City|             Country|        Phone Number|
+----------+------------------+---+------+--------------+-----------+--------------------+--------------------+------------------+--------------------+--------------------+
|     29961|      Erik Krueger| 63|  Male|        Silver|    4263.69|Paul, Grant and L...|     lisa36@king.com|       North David|               Chile|   715.161.5140x1893|
|     98148|         John Lara| 59|Female|        Silver|     1783.9|Williams, Goodwin...|hoffmanjason@burn...|        Port Wanda|French Southern T...|        895.625.2182|
|     74810|    Gabriela Mccoy| 43|Female|      Platinum|    2375.22|        Smith-Arnold|bpatterson@gmail.com|     Stephanieside|           Swaziland|+1-728-258-3754x9039|
|     49346|   Christina Frost| 42|Female|        Silver|     323.59|Gray, Rios and Weeks|   jsteele@moore.com|     East Julieton|              Brazil|  625-277-7207x34730|
|     95364|        Brian Hays| 19|Female|          Gold|     1868.0|Keith, Bailey and...|yhernandez@hotmai...|    North Calebton|               Korea|   (143)665-7279x851|
|     67230|     April Terrell| 63|  Male|          Gold|    3229.97|           Day Group|jennifer58@howard...|         Jonesfort|            Zimbabwe|    402-272-4492x885|
|     29272|  Katherine Stuart| 59|  Male|      Platinum|    4905.25|       Davis-Fleming|daniellewarren@fo...|    Alexandramouth|            Honduras|    565-392-7534x857|
|     81306|       Tyler Bauer| 69|Female|          Gold|    3296.19|Ferrell, Kelley a...|martinmartha@hotm...|    Hernandezshire|French Southern T...|  (904)448-0766x5734|
|     47825|   Corey Hernandez| 69|Female|        Silver|      220.3|    Adkins-Hernandez| richard65@gmail.com|   South Wendytown|             Albania|    156.335.1603x346|
|     98571|     Mark Crawford| 63|  Male|          Gold|    4167.57|Silva, Robinson a...|jessicamartin@ewi...|       East Gerald|              Latvia|   413-139-5667x2919|
|     36222|    Robert Bullock| 21|Female|      Platinum|    3158.18|    Collins-Alvarado|    rweber@yahoo.com|      Johnsonmouth|            Honduras|001-636-302-4492x031|
|     21681|      Timothy Howe| 64|  Male|        Silver|    1532.44|  Phillips-Jefferson|lawsoncrystal@gon...|         Lisashire|       Guinea-Bissau|  (112)196-9981x3485|
|     86092|    Sabrina Wagner| 40|Female|      Platinum|    4294.89|           Smith LLC|ryanstone@hotmail...|New Alejandroshire|Netherlands Antilles|   (073)084-9897x852|
|     87843|Christina Williams| 41|Female|        Silver|    2674.66|          Montes LLC|     hho@hotmail.com|   Lake Davidshire|               Congo|+1-191-692-3073x4...|
|     63072|    Ryan Valentine| 22|Female|      Platinum|    4083.71|         Bernard Inc|kevinduran@gmail.com|       West Nathan|          Bangladesh|    001-990-283-3444|
|     34640|  Christopher Hill| 36|  Male|        Silver|    4905.09|Cruz, Mcbride and...|newtonjacqueline@...|     Brittanyhaven|            Portugal|    823.866.7958x377|
|     12463|    Ryan Rodriguez| 43|  Male|      Platinum|    3476.16|           Allen PLC|    lori64@gmail.com|        East Scott|   Equatorial Guinea|        311.855.5412|
|     25128|        Mark White| 65|  Male|        Silver|    1578.05|Nichols, Johnson ...|baileywilliam@jos...|         West Anna|             Lesotho|        470-008-7134|
|     83730|  Tiffany Castillo| 31|  Male|          Gold|    3984.49|Morton, Nguyen an...|travis62@johnson....|        Reillyport|             Grenada|    629.671.6298x323|
|     35865|       Brad Harper| 54|Female|      Platinum|    2869.98|Robles, Higgins a...|stacey68@hotmail.com|         Millstown|          Madagascar|     +1-955-555-7075|
+----------+------------------+---+------+--------------+-----------+--------------------+--------------------+------------------+--------------------+--------------------+
only showing top 20 rows

+-----------+-----------+--------+--------+
|CountryCode|CountryName|Currency|TimeZone|
+-----------+-----------+--------+--------+
|        ARG|  Argentina|     ARS|      -3|
|        AUS|  Australia|     AUD|      10|
|        BEL|    Belgium|     EUR|       1|
|        BRA|     Brazil|     BRL|      -3|
|        CAN|     Canada|     CND|      -6|
|        DEN|    Denmark|     DKK|       1|
|        FIN|    Finland|     EUR|       1|
|        FRA|     France|     FFR|       1|
|        GER|    Germany|     EUR|       2|
|        IND|  Indonesia|     IDR|       7|
|        IRE|    Ireland|     EUR|      -1|
|        ITA|      Italy|     EUR|       3|
|        JAP|      Japan|     JPY|       9|
|        KOR|      Korea|     KRW|    NULL|
|        MAL|   Malaysia|     MYR|       8|
|        MEX|     Mexico|     MXV|    NULL|
|        NOR|     Norway|    NULL|    NULL|
|        POL|     Poland|    NULL|    NULL|
|        POR|   Portugal|    NULL|    NULL|
|        SIN|  Singapore|     SGD|       8|
+-----------+-----------+--------+--------+
only showing top 20 rows

+----------+---------------+
|CustomerId|Fullname       |
+----------+---------------+
|57062     |Amanda Barker  |
|43508     |Anthony Johnson|
|67230     |April Terrell  |
|25216     |Brandon Howe   |
|41351     |Jesse Wilson   |
|82155     |Jessica Duncan |
|84826     |Joseph Mack    |
|18918     |Maria Rodriguez|
|42696     |Marissa Bush   |
|98571     |Mark Crawford  |
+----------+---------------+
only showing top 10 rows